*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #6947b2;
}
h1{
    color: white;
    font-size: 40px;
}
h3{
    color:  whitesmoke
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* gap: 10px; */
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
}
.grid-item {
    background: linear-gradient(45deg, black, #000000a3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    border: 1px solid white;
    /* border-radius: 8px; */
}

.dice{
    padding: 10px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: #9b6efc;
    border: 6px inset white;
}
.startblock{
    background: repeating-radial-gradient(black, white 150px);
}
.winblock{
    background: repeating-radial-gradient(lime, #000000 99px);
}
.content {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-top: 40px;
}

.dine{
    padding: 5px;
    color: white;
}


#4::before{
    content: '↓';

}